 
.loading-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   }
 
 .app-container{
    .header-container{
       .navbar-nav {
        .nav-link{
            &.active{
              color: #00bfff;
            }
         }
       }
    }
 }

 